# APP
APP_HOST=<host>
APP_PORT=<port>
# APP_ENV=dev | stg | prod
APP_ENV=<environment>

# DATABASE
DB_PROVIDER=<provider>
DB_HOST=<host>
DB_PORT=<port>
DB_NAME=<database_name>
DB_USER=<user>
DB_PASSWORD=<password>

# Format: postgresql://user:password@host:port/database_name